# Dependencies
[Dd]ependencies/
[Pp]ackages/

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user

# Node.js
node_modules/
npm-debug.log

# Secrets
appsettings.Development.json
.env

# Ignorowanie danych i logów z kontenerów Docker
docker/grafana/data/
docker/influxdb/data/
docker/mosquitto/data/
docker/mosquitto/log/

# Pliki generowane przez PlatformIO
.pio/
.vscode/